@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: min(2vw, 16px);
}

.section1 {
  width: 100%;
  padding: 5rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-image: url("./image/homeBg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section1 .top {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  gap: 1rem;
}
.section1 .top h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #ffa500;
}
.section1 .top p {
  font-size: 1.5rem;
  line-height: 2;
}
.section1 .top button {
  padding: 1rem;
  border-radius: 30px;
  background-color: #ffa500;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-weight: 500;
  font-size: 1.1rem;
}
.section1 .top button:hover {
  transform: scale(1.05);
}
.section1 .bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.section1 .bottom .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  text-align: center;
  flex-grow: 1;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.section1 .bottom .box .logo {
  width: 50px;
  height: 50px;
}
.section1 .bottom .box .logo img {
  width: 100%;
  height: 100%;
}
.section1 .bottom .box h1 {
  font-size: 1.7rem;
}

.section2 {
  padding: 5rem 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.section2 .top {
  text-align: center;
}
.section2 .top h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize;
}
.section2 .top p {
  font-size: 1.5rem;
}
.section2 .images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.section2 .images .image {
  position: relative;
  width: 350px;
  height: 350px;
  flex-basis: 350px;
  flex-grow: 1;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: transform 2s ease-in;
}
.section2 .images .image:hover .text {
  display: block;
  opacity: 1;
  transform: scale(1);
  opacity: 1;
}
.section2 .images .image img {
  width: 100%;
  height: 100%;
}

.section3 {
  width: 100%;
  padding: 5rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.section3 .top {
  text-align: center;
}
.section3 .top h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize;
}
.section3 .top p {
  font-size: 1.5rem;
}
.section3 .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.section3 .boxes .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  text-align: center;
  flex-grow: 1;
  flex-basis: 100px;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.section3 .boxes .box h1 {
  font-size: 1.7rem;
}
.section3 button {
  padding: 1rem;
  border-radius: 30px;
  background-color: #ffa500;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-weight: 500;
  font-size: 1.1rem;
}
.section3 button:hover {
  transform: scale(1.05);
}

.section4 {
  padding: 5rem 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.section4 .top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-align: center;
}
.section4 .top .box {
  width: 200px;
  flex-grow: 1;
}
.section4 .top .box img {
  width: 100%;
  height: 100%;
}
.section4 .top .box:nth-child(even) {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid #ffa500;
}
.section4 .top .box:nth-child(even) h1 {
  font-size: 1.5rem;
}
.section4 .discription {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section4 .discription .image {
  width: 50%;
}
.section4 .discription .image img {
  width: 100%;
  height: 100%;
}
.section4 .discription .desc {
  width: 50%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.5rem;
  background-color: rgba(128, 128, 128, 0.1);
}
.section4 .discription .desc button {
  padding: 1rem;
  border-radius: 30px;
  background-color: #ffa500;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-weight: 500;
  font-size: 1.1rem;
}
.section4 .discription .desc button:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .section2 .image {
    height: 150px !important;
    flex-basis: 150px !important;
  }
}/*# sourceMappingURL=style.css.map */